*.font:	        -*-terminus-medium-*-*-*-14-*-*-*-*-*-*-*
*.boldFont:	    -*-terminus-medium-*-*-*-14-*-*-*-*-*-*-*

! add extensions here
URxvt.perl-ext-common:  default,matcher,font-size

! url matcher extension
URxvt*matcher.button:       1 
Urxvt*matcher.pattern:      \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]
URxvt.mapAlert:             true

! color bold, color italic
*.colorBD:                  #7d7875
*.colorIT:                  #7d7875 

! no idea what this is
URxvt.selection.pattern-0:  ([[:word:]]+)
URxvt*secondaryscroll:      true
URxvt*scrollTtyOutput:      false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer:     true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress:    true


URxvt*dynamicColors:        on
URxvt*depth:                24

Xcursor.theme:              handhelds
Xcursor.size:               8

!URxvt*depth:32
URxvt*transparent:	    true
URxvt*shading:          30	
URxvt*fading:		    50
URxvt.tintColor:        gray
*.fadeColor:	        #252525
*.borderless:	        true 
*.geometry:             100x20 

Urxvt*termName:         rxvt-unicode-256color
Urxvt*allow_bold:       false 
*.scrollBar:            false

*background:       	    #252525
*.hightlightSection: 	true	
*.highlightColor:	    #1a1a1a
*.highlightTextColor:   #008800
*.trimSelection:        true 
*.scrollLines:          5000

! font settings --------------------------------------------------------------

Xft.autohint:           true
Xft.antialias:          true
Xft.hinting:            true
Xft.hintstyle:          hintslight
!Xft.dpi: 96
Xft.rgba:               rgb
Xft.lcdfilter:          lcddefault

! font size perl extension 
URxvt.keysym.C-Up:      perl:font-size:increase
URxvt.keysym.C-Down:    perl:font-size:decrease
URxvt.keysym.C-S-Up:    perl:font-size:incglobal
URxvt.keysym.C-S-Down:  perl:font-size:decglobal

URxvt.keysym.C-Left:    perl:font-size:reset

! adding stuff for dwm and urxvt
URxvt.internalBorder:  40

! disable catching ctrl+shift, since I want ctrl+shift+r to be vims redo 

URxvt.iso14755:         false
URxvt.iso14755_52:      false

! experiments

URxvt.lineSpace:    3

! digerati 
! special
*.foreground:   #ffffff
*.background:   #000000
*.cursorColor:  #ffffff

! black
*.color0:       #303030
*.color8:       #5f5f5f

! red
*.color1:       #c03000
*.color9:       #ff3a78

! green
*.color2:       #b1d631
*.color10:      #a6cd07

! yellow
*.color3:       #fecf35
*.color11:      #b5c865

! blue
*.color4:       #426870
*.color12:      #4a7781

! magenta
*.color5:       #6d506d
*.color13:      #ff3b77

! cyan
*.color6:       #4bb5c1
*.color14:      #4bb5c1

! white
*.color7:       #e2e2e5
*.color15:      #e2e2e5






