*.font:	        -*-terminus-medium-*-*-*-14-*-*-*-*-*-*-*
*.boldFont:	    -*-terminus-medium-*-*-*-14-*-*-*-*-*-*-*

! add extensions here
URxvt.perl-ext-common:  font-size,default,matcher

! url matcher extension
URxvt*matcher.button:       1 
Urxvt*matcher.pattern:      \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]
URxvt.mapAlert:             true

! color bold, color italic
*.colorBD:                  #7d7875
*.colorIT:                  #7d7875 

! no idea what this is
URxvt.selection.pattern-0:  ([[:word:]]+)
URxvt*secondaryscroll:      true
URxvt*scrollTtyOutput:      false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer:     true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress:    true


URxvt*dynamicColors:        on
URxvt*depth:                24

Xcursor.theme:              handhelds
Xcursor.size:               8

!URxvt*depth:32
URxvt*transparent:	    true
URxvt*shading:          30	
URxvt*fading:		    50
URxvt.tintColor:        gray
*.fadeColor:	        #252525
*.borderless:	        true 
*.geometry:             100x20 

Urxvt*termName:         rxvt-unicode-256color
Urxvt*allow_bold:       false 
*.scrollBar:            false

*background:       	    #252525
*.hightlightSection: 	true	
*.highlightColor:	    #1a1a1a
*.highlightTextColor:   #008800
*.trimSelection:        true 
*.scrollLines:          5000

! font settings --------------------------------------------------------------

Xft.autohint:           true
Xft.antialias:          true
Xft.hinting:            true
Xft.hintstyle:          hintslight
!Xft.dpi: 96
Xft.rgba:               rgb
Xft.lcdfilter:          lcddefault

! font size perl extension 
URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
URxvt.keysym.C-S-Up:   perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal

! adding stuff for dwm and urxvt
URxvt.internalBorder:  40


! colors from https://terminal.sexy
! Navy and Ivory
! special
*.foreground:   #e8dfd6
*.background:   #021b21
*.cursorColor:  #e8dfd6

! black
*.color0:       #032c36
*.color8:       #065f73

! red
*.color1:       #c2454e
*.color9:       #ef5847

! green
*.color2:       #7cbf9e
*.color10:      #a2d9b1

! yellow
*.color3:       #8a7a63
*.color11:      #beb090

! blue
*.color4:       #2e3340
*.color12:      #61778d

! magenta
*.color5:       #ff5879
*.color13:      #ff99a1

! cyan
*.color6:       #44b5b1
*.color14:      #9ed9d8

! white
*.color7:       #f2f1b9
*.color15:      #f6f6c9

