[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=terminator -x '/home/ticho/source/postbang/misc/workingLinuxDroplet/test' %F
Name=Droplet
Icon=/home/ticho/source/postbang/misc/workingLinuxDroplet/icons/bronto_orange.png
