/* @import url(http://fonts.googleapis.com/css?family=Raleway:200,400,600); */

@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Raleway-regular/Raleway-regular.eot');
  src: url('/fonts/Raleway-regular/Raleway-regular.eot?#iefix') format('embedded-opentype'),
       local('Raleway'),
       local('Raleway-regular'),
       url('/fonts/Raleway-regular/Raleway-regular.woff2') format('woff2'),
       url('/fonts/Raleway-regular/Raleway-regular.woff') format('woff'),
       url('/fonts/Raleway-regular/Raleway-regular.ttf') format('truetype'),
       url('/fonts/Raleway-regular/Raleway-regular.svg#Raleway') format('svg');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 200;
  font-style: normal;

       src: url('/fonts/Raleway-regular/Raleway-ExtraLight.ttf') format('truetype');
}



body, html { background: #EEE; margin:0; }
html { font: 18px/1.4 Raleway, 'Helvetica Neue', Helvetica, sans-serif; color: #2B2B2B; font-weight: 400; }

h2 { font-weight: 200; font-size: 45px; margin: 20px 35px; }

div.list { background: #EEE; padding: 20px 35px; }
div.foot { color: #777; margin-top: 15px; padding: 20px 35px; }

td { padding: 0 20px; line-height: 35px; white-space: nowrap; }

tr:hover { background: #fff; }

a { color: #111111; text-decoration: none; display: inline-block; width: 100%;  }
a:visited { color: #666666; }
a:hover { color: #000000; }

td a { min-width: 300px; }

pre.readme {margin: 20px; } 
