<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
		<item label="run">
			<action name="Execute">
				<execute>gmrun</execute>
			</action>
		</item>
		<separator/>
		<item label="urxvt">
			<action name="Execute">
				<execute>urxvt</execute>
			</action>
		</item>
		<item label="terminator">
			<action name="Execute">
				<execute>x-terminal-emulator</execute>
			</action>
		</item>
		<item label="thunar">
			<action name="Execute">
				<execute>thunar</execute>
			</action>
		</item>
		<item label="geany">
			<action name="Execute">
				<execute>geany</execute>
			</action>
		</item>
		<item label="firefox">
			<action name="Execute">
				<execute>firefox</execute>
			</action>
		</item>
		<item label="mpv">
			<action name="Execute">
				<execute>mpv --force-window --idle</execute>
			</action>
		</item>
		<item label="slither.io">
			<action name="Execute">
				<execute>google-chrome --app=&quot;http://slither.io&quot;</execute>
			</action>
		</item>
		<separator/>
		<item label="gimp-dev">
			<action name="Execute">
				<execute>~/.gimp-build-dev/bin/gimp-2.9</execute>
			</action>
		</item>
		<item label="inkscape">
			<action name="Execute">
				<execute>inkscape</execute>
			</action>
		</item>
		<separator/>
		<menu id="root-menu-774543" label="find">
			<item label="apps">
				<action name="Execute">
					<execute>xfce4-appfinder</execute>
				</action>
			</item>
			<item label="files">
				<action name="Execute">
					<execute>catfish</execute>
				</action>
			</item>
		</menu>
		<!-- This requires the presence of the 'menu' package to work -->
		<separator/>
		<menu id="root-menu-251146" label="config">
			<item label="lxAppearance">
				<action name="Execute">
					<execute>lxappearance</execute>
				</action>
			</item>
			<item label="wallpaper">
				<action name="Execute">
					<execute>nitrogen --sort=alpha</execute>
				</action>
			</item>
			<item label="wbarConfig">
				<action name="Execute">
					<execute>wbar-config</execute>
				</action>
			</item>
			<item label="wbarRestart">
				<action name="Execute">
					<execute>wbarRestart</execute>
				</action>
			</item>
			<separator/>
			<item label="obMenu">
				<action name="Execute">
					<execute>obmenu</execute>
				</action>
			</item>
			<item label="obApps">
				<action name="Execute">
					<execute>obapps</execute>
				</action>
			</item>
			<item label="obConf">
				<action name="Execute">
					<execute>obconf</execute>
				</action>
			</item>
			<separator/>
			<item label="obRestart">
				<action name="Restart"/>
			</item>
			<item label="obReconfigure">
				<action name="Reconfigure"/>
			</item>
		</menu>
		<separator/>
		<menu id="root-menu-315416" label="exit">
			<item label="lock">
				<action name="Execute">
					<execute>i3lock -c 191C1E</execute>
				</action>
			</item>
			<item label="obExit">
				<action name="Exit"/>
			</item>
			<separator/>
			<item label="powerOff">
				<action name="Execute">
					<execute>systemctl poweroff</execute>
				</action>
			</item>
			<item label="reBoot">
				<action name="Execute">
					<execute>systemctl reboot</execute>
				</action>
			</item>
		</menu>
	</menu>
</openbox_menu>
